{% extends 'base.html' %}
{% block content %}
<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
    
    

</div>
<p><strong>Debug: Your role is "{{ user.role }}"</strong></p>
<br><br>

{% if user.role == 'admin' %}
    <h2>Admin Dashboard</h2>
    <div class="admin-section">
        <div class="display:flex; gap:20px;">
            <a href="{% url 'home_slider' %}">Slider</a>
            <a href="#">AllUsers</a>
        </div>
    </div>
{% elif user.role == 'client' %}
    <h2>Client Dashboard</h2>
    
{% else %}
    <h2>Manager Dashboard</h2>
    
{% endif %}
<script>
    
</script>
{% endblock %}